.product_container {
  overflow: hidden;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background: linear-gradient(145deg, #131313, #101010);
  // box-shadow: 5px 5px 3px #070707, -5px -5px 3px #1d1d1d;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.03);
  }
  .product_image {
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .product_title {
    justify-self: flex-end;
    text-decoration: none;
  }
  .product_price {
    text-decoration: none;

    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 1rem;
    .old_price {
      text-decoration: line-through;
    }
  }
}
