.navbar_background {
  background-color: var(--color-brown);
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    h1 {
      color: #fff;
      letter-spacing: 0.5ch;
      padding: 0.5em 1em;
    }
    .navbar_links {
      list-style: none;
      flex-wrap: wrap;
      flex: 1;
      gap: 1em;
      a {
        text-decoration: none;
      }
    }
  }
}
.side_drawer {
  padding-top: 2rem;
  background-color: var(--color-brown);
  a {
    text-decoration: none;
  }
}
